@require "imports/main"

.container
    flex-direction column
    overflow hidden

section.bar
    height 40px
    width 100%
    background #263238
    color #fff
    position fixed
    bottom 0
    font-size 16px
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    z-index 4

    #lastEdited
        position absolute
        right 0
        background #00897b 
        line-height 40px
        padding 0 10px
        cursor pointer

        &:hover::after
            content 'CLICK TO VIEW REVISION HISTORY'
            position absolute
            font-size 12px
            color #cccccc
            top -100%
            left -1px
            text-align center
            width 100%
            background darken(#00897b,20%)
            white-space nowrap
    
    .button
        padding 0
        height 100%
        width 40px
        margin-left 5px
        position absolute
        left 0


section.main
    height 100%
    width 100%
    align-items flex-start
    margin-bottom 40px
    font-size 20px
    transition 0.1s all linear

    textarea, .markdown-body
        background #fff
        border none
        margin-top 20px
        height 90vh
        max-width 1000px
        width 95%
        box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        padding 5vh
        color #222
        font-family 'Fira Mono'
        line-height 1.4em
        outline none
        resize none
        overflow-y auto

        &::-webkit-scrollbar
            width 10px

        &::-webkit-scrollbar-thumb
            background #263248
            border-radius: 5px
            border-right none
             
    
    textarea
        font-size 18px
        font-family 'Fira Mono'
        letter-spacing 0.5px

    &.blur
        filter blur(3px)
        user-select none
    &.noblur
        filter blur(0px)
        user-select default

.buttons
    flex-direction column
    margin 5vh 0 0 2vh

.button
    cursor pointer
    padding 10px
    width: 40px
    height: 40px
    background #00897b
    border-radius: 50%
    box-shadow 0 5px 10px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23)
    font-family monospace
    
    img
        cursor pointer
        height 20px
        width 20px

    &:hover
        box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)


section.history, section.settings
    height 80vh
    max-width 1200px
    width 95%
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    position absolute
    background white
    top 5vh
    color #222222
    flex-direction column
    justify-content flex-start

    .header
        width 100%
        padding 5px
        cursor move
        cursor -webkit-grab
        background #00897b
        color white

        h1
            font-size 18px
            padding-left 50px
            font-weight 700
            flex 1

        .close
            cursor pointer
            padding 10px 
            font-family monospace
        
            img
                cursor pointer
                height 10px
                width auto

            &:hover
                background #ff4444

    &.z-index-2
        z-index 2

    &.z-index-3
        z-index 3

section.history

    .list
        width 100%
        height 100%
        padding 30px
        overflow-y scroll

        &::-webkit-scrollbar
            width 15px

        &::-webkit-scrollbar-thumb
            background #263248
            border-radius: 7.5px
            border-right none

    .item
        width 100%
        margin 40px 0 0 0

        textarea
            width 100%
            height 50vh
            background #263238
            overflow-y scroll
            padding 20px
            resize none
            outline none 
            color white
            font-family 'Fira Mono'
            font-size 16px
            border none
            margin 0

            &::-webkit-scrollbar
                width 10px

            &::-webkit-scrollbar-thumb
                background #263248
                border-radius: 5px
                border-right none
                 

        .markdown-body
            padding 20px
            background #263238
            max-height 50vh
            overflow-y scroll

            &::-webkit-scrollbar
                width 10px

            &::-webkit-scrollbar-thumb
                background #263248
                border-radius: 5px
                border-right none
                 

        p
            font-size 16px

            &.id
                color #bbb
                display inline
                font-size 20px
                font-weight bold

            &.date
                display inline
                padding-left 20px
                font-weight bold
                font-size 23px

        .label
            padding-bottom 20px
            justify-content space-between

section.settings

    .body
        height 100%
        width 100%
        overflow-y auto

        &::-webkit-scrollbar
            width 15px

        &::-webkit-scrollbar-thumb
            background #263248
            border-radius: 7.5px
            border-right none
    
    .item
        padding 25px 40px
        cursor pointer

        .main
            justify-content space-between
            align-items flex-start
            flex-direction column
            flex 1

            label
                font-size 24px
                line-height 1

            p
                font-size 16px
                color #999
                margin-top 10px
                margin-right 20px

        .switch
            height 30px
            width 30px
            border 2px solid #263248
            border-radius 15px
            align-items center

            .box
                height 20px
                width 20px
                border-radius 10px
                transition 0.2s all linear

        &.on
            .box
                background #263248

        &.off
            .box
                background none